
body {
    background-color: #f8f9fd;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

.card {
    background-color: #fff;
    margin-right: 10px;
    padding: 20px ;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 10px;
}

.card-image {
    border-radius: 50%;
}

.button {
    background-color: #3e57db;
    color: #fff;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
}

.input {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 6px;
}

.msg {
    color: red;
    margin-top: 20px;

}